/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 
table.op1 thead th,
table.op1 tbody th  
{
    margin: auto;
    height: 2.5em;
    background-color: #ddf7d1;
    text-transform: uppercase;
}

table.op1 tbody th,  
table.op1 tbody tr
{
    background-color: #f954cd;
    margin: 7px;
    text-align: center;
    height: 4.5em;
}


 table.op1
 {
    width: auto;
    border: 1px solid #000000;
}